 body { font-family:cursive; margin: 10; background-color:rgb(3, 24, 31)}
header { background: #333; color: rgb(235, 227, 227); padding:2px; text-align: center;}
nav { background: #a5d7e4;color:white; padding: 10px; display: flex; justify-content: left; gap: 20px; }
.container { display: flex; min-height: 400px; }
main { flex: 3; padding: 20px; background: #f4f4f4; }
aside { flex: 1; padding: 20px; background: #ddd; }
footer { background: #333; color: white; text-align: center; padding: 1rem; }
p{background-color: #a79bdf;
padding: 20px 20px 20px 20px;}